# Fly.io configuration for MCEC LMS
# See https://fly.io/docs/reference/configuration/ for more information

app = 'mcec-lms'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = 'production'
  PORT = '5000'
